.section_right_container>h3{
    font-size:20px;
    color:#333333;
    margin-bottom: 48px;
}
.section_right_container>h3>span{
    padding-bottom:14px;
}
.font_underline{
    width: 40px;
    height: 2px;
    background-color: #BE1E21;
    margin-top: 10px;
}
.section_right_content{
    font-size: 16px;
    color:#777777;
    line-height: 2;
}
.section_right_content>.section_right_content_b{
    color:#333333;
}
.section_right_service_container>h6{
    font-size: 16px;
    color: #be1e21;
    margin-bottom: 80px;
}
.section_right_service>div{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section_right_service{
    width:100%;
    display: flex;
}
.section_right_service_pic{
    width:72px;
    height:72px;
}
.section_right_service_pic img{
    width:72px;
    height:72px;
}
.section_right_service_center{
    margin-top:18px;
    margin-bottom:10px;
    font-size: 16px;
    color:#333333;
}
.Manage_team_list{
    width:100%;
    margin-bottom:30px;
}
.Manage_team_list li{
    border-bottom:1px solid #c1c1c1;
    padding:40px 0 30px 0;
}
.Manage_team_list li .Manage_team_list_main_point{
    font-size: 14px;
    color:#333333;
    position: relative;
}
.Manage_team_list li .Manage_team_list_main_point .manager{
    display: inline-block;
    width:100px;
    font-size: 18px;
}
.Manage_team_list li .Manage_team_list_content{
    color:#777777;
    margin-top:32px;
    line-height:24px;
}
.Manage_team_list li .Manage_team_list_main_point .pull_down{
    position: absolute;
    top:0;
    right:10px;
}

.social_recruitment .social_recruitment_item{
    width:100%;
    padding:60px 0 52px 0;
    border-bottom:1px solid #EEEFF3;
}
.social_recruitment_item_tit{
    font-size: 20px;
    color:#333333;
    margin-bottom:28px;
}
.social_recruitment_item_content{
    font-size: 16px;
    color:#777777;
    display: flex;
    justify-content: space-between;
}
.social_recruitment_item_content button{
    width:110px;
    height:36px;
    background: #be1e21;
    font-size:16px;
    color:#FFFFFF;
}
.clr{
    color:#be1e21;
}
.news_trends_bar{
    width: 100%;
    border-top: 1px solid #C1282D;
}
.news_trends_shadow{
    width: 100%;
    height: 50px;
    background: linear-gradient(#f2f2f2,#fff);
}







