/*富腾时代*/
.top_title{
    font-size: 18px;
    color: #333;
}
.ptb30lr60{
    padding: 30px 60px;
    box-sizing: border-box;
}
.underline{
    width: 60px;
    height: 2px;
    background-color: #BE1E21;
    margin-top: 10px;
}
.synopsis{
    width: 1078px;
    padding-top: 40px;
    box-sizing: border-box;
}
.synopsis_title{
    font-size: 18px;
    color: #1f36a3;
}
.synopsis_introduce{
    margin: 18px 0;
    line-height: 30px;
    font-size: 16px;
    color: #666;
}
.synopsis_img{
    width: 1078px;
    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*雁栖湖财富小镇*/
.synopsis_content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.synopsis_content p{
    width: 505px;
}
.develop_vision{
    display: block;
}
/*==========================================================================*/




.top_view{
    text-align: center;
    padding-top: 55px;
    color: #000000;
}
.top_view h3{
    font-size: 48px;
    font-family: "Times New Roman";
    font-weight: normal;
}
.top_view p{
    color: #1f36a3;
    margin: 8px 0;
    font-size: 20px;
}
.top_view i,
.top-2_view i {
    font-size: 16px;
    color:#777777;
    font-style: normal;
}
aside{
    width: 1100px;
    height: 200px;
    padding: 60px 0 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}
aside>ul{
    width: 185px;
    text-align: center;
}
aside>ul b{
    list-style-type: none;
    height: 30px;
    padding: 10px 0 3px 0;
    font-size: 16px;
    color: #000;
    display: block;
}
.red_bar{
    width: 50px;
    height: 1.5px;
    background-color: #FF0000;
    margin: 0 auto;
}
aside>ul li{
    padding-top: 9px;
    font-size: 14px;
    color: #666;
}
.intro{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.intro_left{
    width: 50%;
    height: 530px;
}
.intro_right{
    width: 50%;
    height: 530px;
    background-color: #2A40A8;
    color: #FFFFFF;
    padding: 25px 45px;
    box-sizing: border-box;
}
.intro_right h2{
    font-size: 44px;
    font-weight: normal;
    font-family: "Times New Roman";
}
.intro_right s{
    width: 100%;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 0 10px 0;
    display: inline-block;
    border-bottom: 1px solid #4F60B7;
    box-sizing: border-box;
}
.intro_right ul li:nth-child(1){
    font-size: 16px;
    color: #FFFFFF;
}
.intro_right ul li{
    line-height: 22px;
    padding-top: 23px;
    font-size: 14px;
    color: #CFD4EC;
}
.background_info{
    width: 1075px;
    padding-top: 50px;
    box-sizing: border-box;
}
.top_part{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.top_part_left {
    width: 540px;
    float: left;
    padding: 0 0 83px 0;
}
.top_part_left .red_bar{
    margin: 10px 0 0 0;
}
.top_part_left h3 {
    color: #000;
    font-size: 20px;
    font-weight: normal;
}
.top_part_left h4 {
    padding: 40px 0 5px 0;
    font-size: 16px;
    font-weight: normal;
    color: #000;
    box-sizing: border-box;
}
.top_part_left h4:nth-child(3){
    padding-top: 65px;
}
.top_part_left i {
    font-style: normal;
    line-height: 23px;
}
.top_part_right {
    width: 480px;
    height: 400px;
    float: right;
}
.bottom_part{
    display: block;
}
.bottom_part_left{
    width: 480px;
    height: 400px;
    float: left;
}
.bottom_part_right{
    width: 510px;
    float: right;
    padding-top: 80px;
}
.bottom_part_right .red_bar{
    margin: 10px 0 0 0;
    height: 2px;
}
.bottom_part_right h3 {
    color: #000;
    font-size: 20px;
    font-weight: normal;
}
.bottom_part_right h4 {
    padding-top: 39px;
    font-size: 16px;
    font-weight: normal;
    color: #000;
}
.bottom_part_right i {
    font-style: normal;
    line-height: 23px;
    display: inline-block;
    padding-top: 20px;
}
.main_details{
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}
.main_details_top,
.main_details_bottom
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main_details_top li,
.main_details_bottom li
{
    width: 342px;
    height: 208px;
    background-color: wheat;
    margin-top: 20px;
}
.cooperation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px;
}
.map{
    width: 560px;
    height: 650px;
    background-color: pink;
}
.contact_way{
    width: 465px;
    height: 650px;
}
.contact_way h3{
    font-size: 24px;
    color: #333;
}
.contact_way h3 span{
    font-size: 14px;
    color: #777;
}
.fill_in{
    display: flex;
    flex-direction: column;
}
.fill_in input{
    height: 50px;
}
.fill_in input,
.fill_in textarea
{
    border:1px solid #E3E3E3;
    margin-top: 20px;
    padding-left: 15px;
}
.fill_in textarea{
    height: 165px;
    line-height: 50px;
}
.announcement{
    padding: 0 60px;
}
.submit_message{
    width: 170px;
    height: 45px;
    background-color: #1f36a3;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 25px;
}
.way li{
    margin-top: 23px;
}
.way img{
    margin: 4px 10px 0 0;
    float: left;
}