.details{
    width: 1200px;
    overflow-y: auto;
    height: 550px;
}
.fund_top{
    width: 1200px;
    height: 140px;
    position: absolute;
    top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.provisions_prompt{
    width: 960px;
    height: 140px;
    background-color: #F3F3F3;
    font-size: 14px;
    color: #777;
    line-height: 25px;
    padding: 35px 23px;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    float: left;
    box-sizing: border-box;
}
.provisions_prompt span{
    color: #333;
}
.fund_account{
    width: 240px;
    height: 140px;
    background: url(../images/shouye_jijin_photo_zhanghu.png) no-repeat;
    float: left;
    font-size: 18px;
    color: #FFFFFF;
    padding: 17px 25px;
    box-sizing: border-box;
}
.fund_account li{
    margin-top: 3px;
}
.fund_account li:nth-child(1){
    text-align: center;
    margin-bottom: 10px;
}
.fund_account li:nth-child(1) i{
    margin: 0 5px;
    font-style: normal;
}
.fund_account li span{
    font-size: 16px;
}
.money{
    margin-top: -3px;
}
.invest_list{
    padding: 30px 60px;
    box-sizing: border-box;
    margin-top: 138px;
}
.fund_product{
    width: 100%;
    height: 25px;
    border-left: 3px solid #1f36a3;
    line-height: 25px;
    padding-left: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.fund_product span:nth-child(1){
    color: #1f36a3;
    font-size: 20px;
    float: left;
}
.fund_product span:nth-child(2){
    font-size: 16px;
    color: #999;
    float: right;
}
.fund_product span:nth-child(2) img{
    margin: 4px 0 0 10px;
    float: right;
}
.zhanwei{
    width: 158px;
    height: 120px;
    background-color: pink;
    float: left;
}
.invest_list ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
    margin-top: 10px;
}
.periods_num{
    display: flex;
    flex-direction: column;
    line-height: 60px;
    padding-left: 23px;
}
.periods_num p{
    color: #333;
    font-size: 18px;
}
.periods_num p span{
    font-size: 16px;
}
.periods_num s{
    text-decoration: none;
    color: #777;
    font-size: 16px;
}
.periods_num s b{
    color: #f54337;
    font-size: 30px;
    font-weight: normal;
}
.query_details{
    float: right;
    width: 120px;
    height: 40px;
    margin-top: 38px;
}
.query_details button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ff6060;
    color: #ff6060;
    font-size: 16px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}
.invest{
    margin-top: -20px;
    padding: 60px;
    box-sizing: border-box;
    width: 1200px;
}
.all_idea{
    background-color: #3c4da4;
    padding: 30px;
    box-sizing: border-box;
}
.all_idea li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.idea_keep_left img{
    float: left;
    margin-top: 30px;
}
.idea_periods_num{
    width: 627px;
    height: 87px;
    color: #FFFFFF;
    margin: 15px 0 0 75px;
    border-bottom: 1px dashed #B9BEDA;
    padding-bottom: 10px;
    line-height: 23px;
}
.idea_periods_num p{
    font-size: 18px;
    margin-bottom: 10px;
}
.idea_periods_num s{
    text-decoration: none;
    font-size: 14px;
}
.idea_query_details{
    float: right;
    width: 120px;
    height: 40px;
 }
.idea_query_details button{
    width: 120px;
    height: 40px;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 20px;
    background-color: #3c4da4;
    border: 1px solid #B9BEDA;
    margin-top: 30px;
    cursor: pointer;
}
.team_list{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.team_list li{
    margin-top: 30px;
}
.zhan{
    width: 100px;
    height: 100px;
    background-color: pink;
    float: left;
}
.team_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px #B4B4B4 dashed;
    padding-bottom: 20px;
    margin-left: 22px;
    float: left;
    width: 958px;
    box-sizing: border-box;
}
.specific_info p{
    font-size: 20px;
    color: #000;
    line-height: 55px;
}
.specific_info  span{
    font-size: 14px;
    color: #333;
}
.specific_info s{
    text-decoration: none;
    font-size: 12px;
    color: #777;
}
.team_query_details{
    float: right;
    width: 120px;
    height: 40px;
}
.team_query_details button{
    width: 120px;
    height: 40px;
    border: 1px solid #666;
    color: #666;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #fff;
    margin-top: 30px;
}
.brand_list{
    display: flex;
    flex-direction: column;
}
.brand_list li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 0 55px 0;
}
.brand_list li div{
    width: 270px;
    height: 80px;
    background-color: pink;
}
.product_announcement{
    width: 410px;
    height: 655px;
    float: left;
}
.new_announcement{
    width: 584px;
    height: 655px;
    float: right;
}
.product_announcement_title,
.new_announcement_title
{
    height: 25px;
    border-left: 3px solid #1f36a3;
    line-height: 25px;
    padding-left: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.product_announcement_title span:nth-child(1),
.new_announcement_title span:nth-child(1){
    color: #1f36a3;
    font-size: 20px;
    float: left;
}
.product_announcement_title a .more,
.new_announcement_title a .more{
    font-size: 16px;
    color: #999;
    float: right;
}
.product_announcement_title a .more img,
.new_announcement_title a .more img{
    margin: 4px 0 0 10px;
    float: right;
}
.fund_img{
    width: 410px;
    height: 200px;
    background-color: pink;
    position: relative;
}
.chart{
    width: 410px;
    height: 38px;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    font-size: 18px;
    line-height: 38px;
    padding-left: 15px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
}
.notice_list{
    padding-top: 10px;
}
.notice_list li{
    font-size: 14px;
    color: #777;
    line-height: 33px;
}
.notice_list li span{
    float: right;
}
.zw{
    width: 110px;
    height: 105px;
    background-color: pink;
}
.new_announcement_list li{
    width: 584px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px #E5E5E5 dashed;
    padding-bottom: 15px;
    box-sizing: border-box;
    margin-top: 15px;
}
.new_notice_info{
    width: 455px;
}
.new_notice_info h3{
    font-size: 18px;
    color: #333;
    font-weight: normal;
}
.new_notice_info p{
    font-size: 14px;
    color: #999;
    margin-top: 10px;
}
.new_notice_info p span{
    color: #ff0000;
    float: right;
}
.new_notice_info s{
    text-decoration: none;
    font-size: 14px;
    color: #999;
    margin-top: 5px;
    display: inline-block;
}
.down{
    width: 57px;
    height: 48px;
    background-color: #1F36A3;
    box-sizing: border-box;
    padding: 10px 14px;
    cursor: pointer;
}
.down img{
    width: 30px;
    height: 30px;
}