
section{
    width:100%;
}
section>.section_h{
    width:100%;
    height: 600px;
    background: url("../images/shouye_banner.png") no-repeat 0 0;
    /*background-size: 100% 600px;*/
}
.section_content{
}
.section_content>div{
    margin:0 auto;
    width:70%;
    height:600px;
    background:pink;
}
section>.section_table{
    width:70%;
    height:100px;
    margin:0 auto;
    display: flex;
    justify-content: center;
    padding-bottom:150px;
}
section>.section_table>dl{
    flex:1;
    background:papayawhip;
    display: flex;
    border-right:2px solid #fff;
    align-items: center;
}
section>.section_table>dl>dt,dd{
    flex:1;
}
section>.section_table>dl>dt{
    text-align: center;
}





