section{
    width:100%;
}
section>.section_h{
    width:100%;
    height: 600px;
    background: url("../images/shouye_banner.png") no-repeat 0 0;
}
.section_content>div{
    margin:0 auto;
    width:1200px;
    height:600px;
    background:#FFFFFF;
    position: relative;
}
section>.section_table{
    width:1200px;
    margin:0 auto;
    display: flex;
    justify-content: center;
    padding-bottom:150px;
}
.content{
    height: 125px;
    background-color: #F9F0F1;
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-1 img {
    margin-right: 20px;
}
.tab{
    width:1200px;
}
.tab-menu{
    height:50px;
    width:1200px;
}
.tab-menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F9F0F1;
    user-select:none;// 禁止文本选中
}
.tab-menu li{
    flex:1;
    height: 48px;
    float: left;
    text-align: center;
    cursor: pointer;
    line-height: 48px;
}
.tab-box>div{
    width:1200px;
    display:none;
}
/* 让第一个框显示出来 */
.tab-box div:first-Child{
    display:block;
}
/* 改变选项卡选中时候的样式 */
.change{
    background:#BE1D22;
    color: #FFFFFF;
}
.left_btn{
    position: absolute;
    top: 50%;
    left: -90px;
    cursor:pointer;
}
.right_btn {
    position: absolute;
    top: 50%;
    right: -90px;
    cursor: pointer;
}
.details{
    width: 1200px;
    overflow-y: auto;
    height: 550px;
}
.top_view{
    text-align: center;
    padding-top: 55px;
    color: #000000;
}
.top_view h3{
    font-size: 48px;
    font-family: "Times New Roman";
    font-weight: normal;
}
.top_view p{
    color: #1f36a3;
    margin: 8px 0;
    font-size: 20px;
}
.top_view i,
.top-2_view i {
    font-size: 16px;
    color:#777777;
    font-style: normal;
}
aside{
    width: 1100px;
    height: 200px;
    padding: 60px 0 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}
aside>ul{
    width: 185px;
    text-align: center;
}
aside>ul b{
    list-style-type: none;
    height: 30px;
    padding: 10px 0 3px 0;
    font-size: 16px;
    color: #000;
    display: block;
}
.red_bar{
    width: 50px;
    height: 1.5px;
    background-color: #FF0000;
    margin: 0 auto;
}
aside>ul li{
    padding-top: 9px;
}
.top-2_view{
    width: 510px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    line-height: 25px;
}
.top-2_view p{
    color: #243AA7;
    margin-bottom: 20px;
    font-size: 18px;
}
.intro{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.intro_left{
    width: 50%;
    height: 530px;
    background-color: pink;
}
.intro_right{
    width: 50%;
    height: 530px;
    background-color: #2A40A8;
    color: #FFFFFF;
    padding: 35px 50px;
    box-sizing: border-box;
}
.intro_right h2{
    font-size: 44px;
    font-weight: normal;
    font-family: "Times New Roman";
}
.intro_right s{
    text-decoration: none;
    font-size: 20px;
    padding-top: 25px;
    display: inline-block;
}
.intro_right ul li:nth-child(1){
    font-size: 16px;
    color: #FFFFFF;
}
.intro_right ul li{
    line-height: 22px;
    padding-top: 23px;
    font-size: 14px;
    color: #CFD4EC;
}
.background_info{
    padding: 65px;
    font-family: "Microsoft YaHei UI";
}
.top_part{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top_part_left {
    width: 540px;
    float: left;
    padding: 76px 0 83px 0;
}
.top_part_left .red_bar{
    margin: 10px 0 0 0;
}
.top_part_left h3 {
    color: #000;
    font-size: 20px;
    font-weight: normal;
}
.top_part_left h4 {
    padding-top: 39px;
    font-size: 16px;
    font-weight: normal;
    color: #000;
}
.top_part_left i {
    font-style: normal;
    line-height: 23px;
}
.top_part_right {
    width: 480px;
    height: 400px;
    background-color: pink;
    float: right;
}
.bottom_part_left{
    width: 480px;
    height: 400px;
    background: pink;
    float: left;
}
.bottom_part_right{
    width: 510px;
    float: right;
    padding-top: 80px;
}
.bottom_part_right .red_bar{
    margin: 10px 0 0 0;
    height: 2px;
}
.bottom_part_right h3 {
    color: #000;
    font-size: 20px;
    font-weight: normal;
}
.bottom_part_right h4
{
    padding-top: 39px;
    font-size: 16px;
    font-weight: normal;
    color: #000;
}
.bottom_part_right i {
    font-style: normal;
    line-height: 23px;
    display: inline-block;
    padding-top: 20px;
}

