section{
    width:1200px;
    margin:0 auto;
    padding:60px 0;
}
h3{
    font-size:20px;
    color:#333333;
    margin-bottom: 48px;
}
h3>span{
    padding-bottom:14px;
    border-bottom:2px solid #be1e21;
}
.news_trends_container{
    line-height: 2.5;
    font-size: 16px;
    color: #666666;
}
.news_trends_item{
    display: flex;
    justify-content: space-between;
}
.news_trends_item>span{

}
.news_trends_bar{
    width: 100%;
    border-top: 1px solid #C1282D;
}
.news_trends_shadow{
    width: 100%;
    height: 50px;
    background: linear-gradient(#f2f2f2,#fff);
}
