section{
    width:1200px;
    margin:0 auto;
    padding:60px 0;
}
h3{
    font-size:20px;
    color:#333333;
    margin-bottom: 48px;
}
h3>span{
    padding-bottom:14px;
}
.font_underline{
    width: 40px;
    height: 2px;
    background-color: #BE1E21;
    margin-top: 10px;
}
.news_trends_container{
    line-height: 2.5;
    font-size: 16px;
    color: #666666;
}
.news_trends_item{
    display: flex;
    justify-content: space-between;
}